{%load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="{% block meta_description%}This is the website of malate friday kamuli a Freelancer/Web Developer living in zambia{%endblock meta_description%}">
        <link rel="icon" href="{% static 'web/img/logo1.png' %} " type="image/png">
        <title>{%block title%} Malate Friday{%endblock title%}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'web/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'web/vendors/flaticon/flaticon.css' %} ">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- main css -->
	
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">
		

    </head>
    <body> 
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href=" {% url 'home' %}"><h2>fridays</h2></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'home'%}">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Works</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Hire Me</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
{% block content%}
{% endblock content%}
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>Contact & Help</h3>
        					</div>
        					<p>If you need any help please call me or send me an email.</p>
							<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Stay Connected</h3>
        					</div>
        					<p>let us interact!</p>
        					<ul class="list">
        						<li><a href="https://www.facebook.com/kamuli.malate/"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="https://twitter.com/FridayMalate1"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"></i></a></li>
        						<li><a href="https://www.instagram.com/modercaikamuli/"><i class="fa fa-instagram"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'web/js/jquery-3.3.1.min.js'%} "></script>
        <script src="{% static 'web/js/popper.js'%} "></script>
        <script src="{% static 'web/js/bootstrap.min.js'%} "></script>
        <script src="{% static 'web/js/stellar.js' %} "></script>
        <script src="{% static 'web/vendors/lightbox/simpleLightbox.min.js'%} "></script>
        <script src="{% static 'web/vendors/nice-select/js/jquery.nice-select.min.js' %} "></script>
        <script src="{% static 'web/vendors/isotope/imagesloaded.pkgd.min.js' %} "></script>
        <script src="{% static 'web/vendors/isotope/isotope.pkgd.min.js' %} "></script>
        <script src="{% static 'web/vendors/owl-carousel/owl.carousel.min.js' %} "></script>
        <script src="{% static 'web/vendors/popup/jquery.magnific-popup.min.js' %} "></script>
        <script src="{% static 'web/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'web/vendors/counter-up/jquery.waypoints.min.js'%} "></script>
        <script src="{% static 'web/vendors/counter-up/jquery.counterup.min.js'%} "></script>
        <script src="{% static 'web/js/mail-script.js' %} "></script>
        <script src="{% static 'web/js/theme.js' %} "></script>

    </body>
</html>
