{% extends 'base.html' %}
{%block title%}Hire Me{%endblock title%}
{%block meta_description%}This is the website of Malate friday a Freelancer/Web Developer{%endblock meta_description%}
{% load static %}
{%block content%}
<!doctype html>
<html lang="en">

<body>
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Hire Me</h2>
                        <div class="page_link">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'contact' %}">Hire Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    
    {% if name %}
    <center>
        <h2>{{name}}</h2>
        <p>Your message is successfully sent...</p>
    </center>
    {% else %}
    <section class="contact_area p_120">
        <div class="container">
            <p><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2378.426156148839!2d28.88697214595836!3d-11.188947539795103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x190cd936b88fa2e1%3A0xd698d9c6b8dc4ee2!2sfridays!5e0!3m2!1sen!2szm!4v1643448314616!5m2!1sen!2szm"
                    width="1100" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
            <br /><br /><br />
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Luapula, Zambia</h6>
                            <p>Mansa</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">(+260) 950 037 507</a></h6>
                            <p>Mon to Fri 6 hr to 18 hrs</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">malatefriday12@gmail.com</a></h6>
                            <p>hire me anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="{% url 'contact' %}" method="post" id="contactForm"
                        novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group" data-validate="Name is required">
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter your name">
                                {%for err in form.name.errors%}
                                <small class="text-danger">{{err}}</small>
                                {% endfor %}
                            </div>
                            <div class="form-group" data-validate="Email is required">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter email address" >
                                {%for err in form.email.errors%}
                                <small class="text-danger">{{err}}</small>
                                {% endfor %}
                            </div>
                            <div class="form-group" data-validate="Subject is required">
                                <input type="text" class="form-control" id="subject" name="subject"
                                    placeholder="Enter Subject" >
                                {%for err in form.subject.errors%}
                                <small class="text-danger">{{err}}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-validate="Name is required">
                                <textarea class="form-control" name="message" id="message" rows="1"
                                    placeholder="Enter Message"></textarea>
                                {%for err in form.message.errors%}
                                <small class="text-danger">{{err}}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->

    {% endif %}
</body>

</html>
{% endblock content %}