{%extends 'base.html'%}
{%block title%}Home{%endblock title%}
{%block meta_description%}Welcome to Malate Friday's personal website{%endblock meta_description%}
{% load static %}
{%block content%}
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{% static 'web/img/fridaymalate2.jpeg' %} " alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									<h3>Malate Friday Kamuli</h3>
									<h4>Freelancer/Web Developer</h4>
									<p>I worry about web-designing, you handle the rest of your business.</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 14th September, 1998</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> (+260) 950 037 507</a></li>
										<li><a href="https://mail.google.com/"><i class="lnr lnr-envelope"></i> malatefriday12@gmail.com</a></li>
										<li><a href="https://www.google.com/maps/dir/-11.1896525,28.8887165/Ministers+compound,+Mansa/@-11.1896505,28.8536967,13z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?hl=en"><i class="lnr lnr-home"></i> Ministers Compound Mansa</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://www.facebook.com/kamuli.malate/"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/FridayMalate1"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"></i></a></li>
										<li><a href="https://www.instagram.com/modercaikamuli/"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Me</h4>
        					<p>I enjoy working with computers and have a strong interest in web designing, I work hard to achieve my targets and can communicate well with my clients</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>1</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Python <span class="counter">50</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>HTML <span class="counter">50</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>CSS <span class="counter">50</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>JavaScript <span class="counter">50</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>January 2020 to present</p>
										</div>
										<div class="media-body">
											<h4>Web Development</h4>
											<p>Freelancing <br />Ministers compound 2285, Mansa</p>
										</div>
									</div>
								</li>
							
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>August 2019 to present</p>
										</div>
										<div class="media-body">
											<h4>Computer Science</h4>
											<p>College Student<br />Mulungushi University, kabwe</p>
										</div>
									</div>
								</li>

							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>offerings to my clients</h2>
        			<p>Do you want your business/company to be even more successful? Then hire me to build you a perfect website. </p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4>Frontend Development</h4>
        					<p>I offer front end development in HMTL,CSS and JavaScript</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4>Backend Development</h4>
        					<p>I offer Backend development in Python(django)</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4>Deployment</h4>
        					<p>I offer website deployment on heroku and clients are free to choose any DNS(e.g www.AnythingYouWant.com)</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Home Gallery Area =================-->
        <section class="home_gallery_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Latest Featured Projects</h2>
        			<p>Check out the latest projects</p>
        		</div>
        		<div class="isotope_fillter">
        			<ul class="gallery_filter list">
						<li class="active" data-filter="*"><a href="#">All</a></li>
						<li data-filter=".brand"><a href="#">Portfolio/Personal</a></li>
						<li data-filter=".manipul"><a href="#">Photography</a></li>
						<li data-filter=".creative"><a href="#">Business</a></li>
						<li data-filter=".design"><a href="#">E-commerce</a></li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="gallery_f_inner row imageGallery1">
        			<div class="col-lg-4 col-md-4 col-sm-6 brand print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="" src="{% static 'web/img/gallery/port1.png' %} " alt="">
        						<a class="light" href="{% static 'web/img/gallery/port1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>Portfolio</h4>
        						<p>Personal Project</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 design ">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'web/img/gallery/workinprogress1.png' %} " alt="">
        						<a class="light" href="{% static 'web/img/gallery/workinprogress1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>E-commerce</h4>
        						<p>Client Project</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 manipul print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'web/img/gallery/workinprogress1.png' %}" alt="">
        						<a class="light" href="{% static 'web/img/gallery/workinprogress1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>Photography</h4>
        						<p>Client Project</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 creative print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'web/img/gallery/workinprogress1.png' %} " alt="">
        						<a class="light" href="{% static 'web/img/gallery/workinprogress1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>Art</h4>
        						<p>Client Project</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'web/img/gallery/workinprogress1.png' %} " alt="">
        						<a class="light" href="{% static 'web/img/gallery/workinprogress1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>Blog </h4>
        						<p>Client Project</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 creative">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'web/img/gallery/workinprogress1.png' %} " alt="">
        						<a class="light" href="{% static 'web/img/gallery/workinprogress1.png' %} "><img src="{% static 'web/img/gallery/icon.png' %} " alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>Advertisement</h4>
        						<p>Client Project</p>
        					</div>
        				</div>
        			</div>
        	</div>
        </section>
        <!--================End Home Gallery Area =================-->
        
        <!--================Testimonials Area =================-->
       

{% endblock content %}
        <!--================End Testimonials Area =================-->
        
        <!--================Footer Area =================-->
      